*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:plum;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 10px;
    color:white;
}

.header.logo h1{
    font-size: 24px;
}

.search-bar{
    display: flex;
}

.search-bar input{
    padding: 5px;
    font-size: 16px;
    border:none;
    outline: none;
}

.container{
    display:flex;
    margin-top:10px;
}

.sidebar{
    width: 200px;
    background-color: aliceblue;
    padding: 10px;
}

.sidebar u1 li{
    list-style-type:none ;

}

.sidebar u1 li{
    padding: 10px;
    cursor:pointer
}

.sidebar u1 li:hover{
    background-color: aliceblue;
}

.main-content{
    flex:1;
    padding: 20px;
}
u1{
    background-color: aquamarine;
}